@import '../../common/mixins'
@import '../../common/vars'

/**
 * HEADER
 */

.header
	margin-bottom: 110px
	.menu
		&-cont
			margin-top: 50px
			align-items: center
			display: flex
	&-logo
		width: 200px
		height: 60px
		margin-right: 30px
		display: flex
		align-items: center
	&-nav
		width: 100%
		ul
			margin: 0 auto
			display: flex
			justify-content: space-between
			li
				a
					text-decoration: none
					font-size: 12px
					color: rgb(64, 63, 60)
					text-transform: uppercase
					font-weight: 600
	&-soc
		display: flex

		&_facebook
			margin-left: 25px
			margin-right: 20px
		&_insta
			margin-right: 25px
	&-callmodal
		display: flex
		justify-content: space-between
		&_call
			width: 190px
			background-color: #66952f
			display: flex
			align-items: center
			border-radius: 0px 20px
			margin-right: 15px
			text-align: center
			a
				margin: 0 auto
				padding: 5px 25px
				align-items: center
				color: #fff
				text-decoration: none
	&-callmodalmob
		display: none
	&-burger
		display: none

@media (max-width: 1100px)
	.header
		.menu
			&-cont
				margin-top: 0
		&-callmodalmob
			align-items: center
			margin: 0 auto
			display: flex
			&_call
				margin-right: 10px
				font-size: 12px
				width: 100px
				a
					color: rgb(102, 149, 47)
					text-transform: uppercase
					text-decoration: none
		&-logo
			width: 140px
			margin-right: 0
			.logo
				width: 90px
		&-burger
			display: block
			margin-right: 10px
		&-nav
			display: none
		&-callmodal
			display: none
		&-soc
			margin-left: auto
			&_facebook
				margin-left: 5px
				margin-right: 10px
			&_insta
				margin-right: 0
